<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a id="Home" class="navbar-brand" href="#">
      <img src="COMP125-M2020-Assignment_3/Assets/images/logo.png" width="30" height="30" alt="Logo" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a id="Home" class="nav-link" href="#"><i class="fas fa-home fa-lg"></i> Home</a>
          </li>
  
          <li class="nav-item">
            <a id="Projects" class="nav-link" href="#"><i class="fas fa-map fa-lg"></i> Projects</a>
          </li>
  
          <li class="nav-item">
          <a id="Contact" class="nav-link" href="#"><i class="fas fa-phone fa-lg"></i> Contact Us</a>
          </li>
      </ul>
    </div>
  </nav>